.container {
    width: 1200px;
    margin: 0 auto;
}

.wrapper {
    border: 5px solid black;
    height: 600px;
}

.item {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: red;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: my-keyframe;
    animation-duration: 13s;
    animation-timing-function: steps(13, end);
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: forwards;
    transform: translateY(500px) translateX(50px);
}

@keyframes my-keyframe {
    0% {
        transform: translateY(500px) translateX(50px);
    }

    8% {
        transform: translateY(425px) translateX(125px);
        width: 80px;
        height: 80px;
    }

    15% {
        transform: translateY(350px) translateX(200px);
        width: 90px;
        height: 90px;
    }

    23% {
        transform: translateY(275px) translateX(270px);
        width: 110px;
        height: 110px;    
    }

    30% {
        transform: translateY(190px) translateX(350px);
        width: 130px;
        height: 130px;
        background-color: yellow;
    }

    38% {
        transform: translateY(105px) translateX(425px);
        width: 150px;
        height: 150px;
        background-color: rgb(255, 255, 145);
    }

    46% {
        transform: translateY(110px) translateX(500px);
        width: 150px;
        height: 150px;
        background-color: rgb(247, 247, 169);
    }

    53% {
        transform: translateY(160px) translateX(575px);
        width: 130px;
        height: 130px;
        background-color: yellow;
    }

    61% {
        transform: translateY(210px) translateX(650px);
        width: 115px;
        height: 115px;
        background-color: rgb(240, 240, 144);

    }

    69% {
        transform: translateY(265px) translateX(725px);
        width: 105px;
        height: 105px;
    }

    76% {
        transform: translateY(320px) translateX(810px);
        width: 95px;
        height: 95px;
    }

    84% {
        transform: translateY(380px) translateX(900px);
        width: 90px;
        height: 90px;
    }

    92% {
        transform: translateY(440px) translateX(985px);
        width: 80px;
        height: 80px;
    }

    100% {
        transform: translateY(500px) translateX(1050px);
        width: 75px;
        height: 75px;
        background-color: red;
    }
}